* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainbackground-color: #d8d8d8;
}

html {
  font-size: 10px;
}

body {
  width: 192rem;
  height: 108rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainbackground-color);
}

.main-container {
  width: 116rem;
  height: 53.8rem;
  background-color: red;
  display: flex;
}

.el {
  flex-basis: 36rem;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.el-1 {
  margin-top: 1rem;
}

.el-2 {
  margin: 0 4rem 1rem;
}

.el-3 {
  margin-bottom: 1rem;
}

img {
  width: 36rem;
  height: 21.6rem;
  object-fit: contain;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
